{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <a class="navbar-brand" href="{% url 'blog_index' %}">Blog</a>
        {% if user.is_authenticated %}
            <span class="navbar-text">Welcome, {{ user.username }}</span>
            <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
    </div>
    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>